DATABASE_URL=postgresql://user:pass@host:port/db?schema=public
KRUTAI_API_KEY=your_krutai_api_key
KRUTAI_SERVER_URL=http://krut-ai-backend:8000
KRUTAI_PROJECT_ID=your_project_id
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
APP_URL=http://localhost:3000
SLACK_CLIENT_ID=your_slack_client_id
SLACK_CLIENT_SECRET=your_slack_client_secret
SLACK_SIGNING_SECRET=your_slack_signing_secret
SLACK_BOT_TOKEN=xoxb-your-bot-token
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
